<div class="post">



</div>

<%#*Commented this code because of multiple login forms @ home page%>
<%# content_for(:sidebar) do %>
    <%# if !session[:member_id] %>
       <%#=   render(:partial=>"user/get_access") %>
    <%# end %>
 <%# end %>
