<div class="post">
    <b>Welcome back <%=h session[:member_name] %>!</b>
      
<br><br>


</div>

<% content_for(:sidebar) do %>
    <% if !session[:member_id] %>
       <%=   render(:partial=>"user/get_access") %>
    <% end %>
 <% end %>
